* {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(235, 235, 235);
}

/*** SIDE BAR MENU ***/

#side-menu h6 {
    font-size: 0.8rem;
    font-weight: 600;
}

.nav-logo {
    height: 80px;
    width: auto;
}

.nav-item i {
    color: grey;
}

.nav-item:hover i,
.navbar-nav .active i {
    color: #7F1E68;
}

.btn-nav-connect {
    max-width: 300px;
    background-color: #4A2461;
}

.btn-nav-connect:hover {
    background-color: rgb(55, 20, 76) ;
    border-color: rgb(55, 20, 76);
}

/*** MOBILE MENU ON TOP ***/
@media (max-width:768px) {

    .navbar .closebtn {
        display: none;
    }

    .open-menu {
        display: none;
    }

    #main {
        margin-left: 0;
    }
}

/*** ANIMATED SIDE BAR ON TABLET ***/
@media (min-width:768px) {

    .navbar {
        height: 100%;
        width: 0;
        /* 0 width - change this with JavaScript */
        z-index: 1;
        top: 0;
        left: 0;
        overflow: hidden;
        padding-top: 60px;
        transition: 0.5s;
        padding: 0;
        padding-top: 20px;
    }

    .navbar .closebtn {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 36px;
        margin-left: 50px;
    }

    .open-menu {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 40px;
        color: white;
        cursor: pointer;
        position: fixed;
    }

    #main {
        margin-left: 230px;
        transition: margin-left .5s;
    }

    .navbar-nav {
        padding: 20px;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%;
    }

    .navbar.fixed-left {
        right: auto;
    }

    .navbar.fixed-left {
        bottom: 0;
        width: 230px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .navbar.fixed-left {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
    }
}


/*** FIXED SIDE BAR ON DESKTOP ***/
@media (min-width:992px) {
    .navbar {
        height: 100%;
        width: 230px;
        position: fixed;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .navbar .closebtn {
        display: none;
    }

    .open-menu {
        display: none;
    }
}

/*** ANIMATION LOGO NAV ***/

#wave1, #wave4, #wave7 {
	-webkit-animation: scale-up-ver-bottom 1s linear infinite alternate-reverse both;
            animation: scale-up-ver-bottom 1s linear infinite alternate-reverse both;
            transform-box: fill-box;
}

#wave2, #wave5, #wave8 {
	-webkit-animation: scale-up-ver-bottom 1.1s linear infinite alternate-reverse both;
            animation: scale-up-ver-bottom 1.1s linear infinite alternate-reverse both;
            transform-box: fill-box;
}

#wave3, #wave6, #wave9 {
	-webkit-animation: scale-up-ver-bottom 1.3s linear infinite alternate-reverse both;
            animation: scale-up-ver-bottom 1.3s linear infinite alternate-reverse both;
            transform-box: fill-box;
}


 @-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.6);
              transform: scaleY(0.6);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }

  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.6);
              transform: scaleY(0.6);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  
  

/*** HOME HEADER ***/

#page-header {
    background: url(./images/hero.jpg) no-repeat;
    background-size: cover;
    background-position: left;
    height: 550px;
    width: auto;
}

.container-header {
    height: 550px;
}

header .btn-header {
    opacity: 0.8;
}

/*** TABLE TOP 5 ***/

.first-line {
    font-size: 0.9rem;
}

#top-five .fa-play-circle {
    color: #7F1E68;
}

.title-top-five p {
    margin: auto;
}

.title-top-five:hover {
    background-color: #e4e4e4 !important;
    transition: 1s;
}

.img-top-five {
    height: 50px;
    width: 50px;
}

.img-top-five img {
    width: 100%;
    height: 100%;
}

#top-five .title {
    width: 300px;
    line-height: 40px;
}

@media (min-width:768px) {
    #top-five .fa-play-circle {
        color: rgba(127, 30, 104, 0.3);
    }

    #top-five .title-top-five:hover .fa-play-circle {
        color: #7F1E68;
        cursor: pointer;
        transition: 1s;
    }
}

/*** MODAL AUDIO PLAYER ***/
.modal-content {
    background-color: transparent;
    border: none;
}

.cover img {
    width: 100%;
    height: auto;
}

#slider {
    width: 182px;
    height: 4px;
    background: #ebebeb;
    border-radius: 2px;
}

#slider div {
    width: 4px;
    height: 4px;
    margin-top: 1px;
    background: #4A2461;
    border-radius: 2px;
}

.controls i {
    cursor: pointer;
}


/*** ALBUMS ***/

.card-box-img i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
    transition: 1s;
}

.card img {
    opacity: 0.7;
    transition: 1s;
}

.card:hover.card img {
    opacity: 1;
}

.card:hover .card-box-img i {
    color: white;
}

/*** FOOTER ***/

.logo-footer {
    width: 50px;
    height: auto;
}

/*** PAGE TARIFS ***/

#page-header-tarifs {
    background: url(./images/hero-tarifs.jpg) no-repeat;
    background-size: cover;
    background-position: left;
    height: 550px;
    width: auto;
}


#tarifs .card h4 {
    color: #4A2461;
}

#tarifs .card-footer {
    font-size: 0.9rem;
}

/*** PAGE CONNEXION ***/
.btn-facebook {
    background-color: #3a61b3;
    border: none;
}

.btn-connexion,
.btn-tarifs {
    background-color: #4A2461;
    border: none;
}

.btn-connexion:hover,
.btn-tarifs:hover {
    background-color: rgb(61, 32, 79);
    border: none;
}

.btn-new-account {
    color: #4A2461;
}